
.btn-bar:hover{
    background-color: #016CF3 !important;
    
}
.btn-home:hover{
    background-color: #fff !important;
    color: #000 !important;
}


select {
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 10em;
    height: 1.5em;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
  }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1em;
    font-size: 1rem;
    line-height: 2rem;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: #f39c12;
  }

  .option, option{
      height: 3rem;
      
  }
  

